@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Nanum+Myeongjo&&display=swap');

/**
 * [css를 작성하는 tip]
 * -> css는 cascade style sheet 의 약자입니다. cascade는 '아래로 흐르는'이라는 뜻을 갖고 있는데, 이름 그대로 위에서 아래로 내려가면서 코드를 읽고, 스타일 속성들을 웹페이지에 적용합니다. 
 *    그래서 css파일의 윗 부분에서 특정 클래스에 {margin: 0} 이라고 해도 그 보다 아래줄에서 {margin: 10px}이라고 하면 margin값은 10px이 적용됩니다.
 *    이는 의도치 않게 스타일이 중복될 수도 있고, 애꿎은 태그에 원하지 않는 스타일이 적용될 수도 있다는 것을 의미합니다.
 *    따라서, class와 id값을 잘 활용해서 css를 작성하는 게 중요하고 html 구조를 잘 잡는 것 또한 중요합니다. 또, css의 작성 순서와 정리도 중요합니다.
 *    그래서 미션을 하나 준비해보았습니다. 아래에 작성한 주석에 맞게 css코드들을 정리해보세요!
 */

/*-------------------[ 이하 미션 ]-------------------*/

/********************
 * Header
 ********************/
#header::after,
.headerWrapper::after,
.block-1::after{
     clear:both;
     content:"";
     display: table;
 }
.headerWrapper {
    max-width:1024px; 
    margin:0 auto;
}
 
#header {
     position: fixed;
     width: 100%;
 }

#header nav{
    float:right;
}

#header .logo{
    float: left;
}

#header ul{
    list-style: none;
}

#header li {
    float:left;
    margin-left:30px;
    padding: 0;
}

/********************
 * Contents
 ********************/

h1, h2, h3, h4, h5{
    font-weight: normal;
}

.nanumsquare {
    font-family: 'NanumSquare', sans-serif !important;
}

#contents {
    max-width: 1170px;
    margin:0 auto;
}



#background{
    background-image: url("./image/sub-top-bg01.jpg");
    height: 500px;
}


.title{
    font-size: 40px;
    font-family:'NanumSquare', sans-serif;
    color: white;
    line-height: 1.25;
    text-align: center;
    margin: 0;
    padding-top: 200px;
    letter-spacing: -1.7px;
}

.title span{
    font-family:'NanumSquareB', sans-serif;
    font-weight: 500;
}

.section-tit{
    margin: 110px 0 60px;
    text-align: center;
}

.section-tit h1{
    color: #aa7e46;
    font-size: 36px;
    line-height: 1.33;
    font-family: 'Nanum Myeongjo';
    margin:0;
}

.section-tit h2{
    color: #3c92ca;
    text-align: center;
    font-size: 36px;
    line-height: 1.33333;
    font-family: 'Nanum Myeongjo';
    margin:0;
}

.section-tit span{
    color: #3c92ca;
    text-align: center;
    font-size: 36px;
    line-height: 1.33333;
    font-family:'NanumSquare', sans-serif;
}

.tit-bold{
    font-weight: bold;
    
}

.audit-img{
    width: 100%;
}

.block{
    padding-right: 63px;
    padding-left: 63px;
}
.block-1 {
    width:33%;
    display: inline-block;
    vertical-align: top;
    padding-right: 22px;
    box-sizing: border-box;

    /* padding-left: 15px;
    padding-right: 15px;
    float:left; */
}
.block-2 {
    width: 66%;
    display: inline-block;
}
.block-2 h3{
    margin:0;
    padding:0;
    font-size: 30px;
    font-weight: bold;
}
.block-2 p{
    font-size: 16px;
    line-height: 2;
    color: #505050;
    margin:0;
    padding:0;
}
.safe{
    box-sizing: border-box;
    block-size: auto;
    /* margin-left: 100px;
    margin-right: 100px; */
    margin-bottom: 20px;
    padding: 63px;
    background-color: white;
}


.safe-title{
    width:33%;
    display: inline-block;
    vertical-align: top;
    
}

.safe-title h3{
    font-size: 48px;
    color: rgb(60, 146, 202);
    line-height: 1;
    font-family: 'Helvetica Neue';
    letter-spacing: -1px;
    margin:0;
}



.safe-title p{
    font-size: 100px;
    color: #dbccb9;
    margin-top: 20px;
    letter-spacing: -8px;
    margin: 0;
}

.safe-text{
    width:66%;
    display: inline-block;
    vertical-align: top;
    font-family:'NanumSquare', sans-serif;
    letter-spacing: -1.5;

}

.safe-text h4{
    margin-bottom: 15px;
    font-size: 36px;
    line-height: 1.3888;
    font-weight: normal;
    margin: 0;
    padding: 0;

}
.safe-text h4 span{
    font-weight: bold;
}

.safe-text p{
    font-size: 16px;
    line-height: 2;
    color: #505050;
}

.safe-text .brown-text{
    color: #ba9363;
}

.image{
    box-sizing: border-box;
    block-size: auto;
    margin-bottom: 20px;
}


.mission h3{
    font-size: 36px;
    font-family:'NanumSquare', sans-serif;
    font-weight: bold;
    color: #1f7dba;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 60px;
}

.mission h2{
    font-family: 'Nanum Myeongjo';
    font-size: 66px;
    color: #000;
    text-align: center;
    margin:20px;
}

.mission p{
    font-family: 'Nanum Myeongjo';
    font-size: 33px;
    color: #000;
    text-align: center;
    margin:0;
}


.circle{
    width:200px;
    height:200px;
    border-radius:50%;
    background:#313131;
    margin: 20px;
    margin-top: 100px;
    opacity: 50%;
    text-align: center;
}
.circle.-moved {
    position: relative;
    top:0;
}
.circle.-moved.-left {
    left:80px;
}
.circle.-moved.-right {
    left:-80px;
}
.circle-position{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-bottom:40px;
}
.circle span{
    margin-top:90px;
    display: block;
    color:white;
    font-size: 24px;
    font-weight: 600;
}
/* .left3 {
    position: relative;
    top:0;
    left:-80px;
} */

#section-last{
    background-color: white;
    height: 1400px;
    padding:10px;
}

.last{
    max-width: 1170px;
    margin:0 auto;
}

.last-testimonial{
    display: flex;
    margin-top: 40px;
}


.image1{
    display: inline-block;
    width: 20%;
}

.text1{
    display: inline-block;
    width: 79%;
}

.text1 h5{
    font-size: 24px;
    margin-top: 15px;
    margin-bottom:5px;
    font-family: 'Nanum Myeongjo';
    line-height: 1.4;
}

.text1 p{
    font-family:'NanumSquare', sans-serif;
    font-size: 16px;
    margin-top: 7px;
    margin-bottom: 12px;
    line-height: 1.6;
}

.text1 .id{
    font-size: 14px;
}

.cta{
    display: flex;
    justify-content: center;
    margin: 50px;
}

.square {
    width: 150px;
    height: 40px;
    border: 1px solid #AC8552;
    border-radius: 20px;
}

.cta span{
    position: relative;
    top:13px;
    left:-130px;
    color: #AC8552;
}

.wrap{
    width: 100%;
    height: 450px;
}

.contactSection{
    width: 100%;
    margin-top:60px;
}

.contact{
    height: 242px;

    padding: 20px;
    text-align: right;
    background: url(./image/rts-consult-bg.jpg) center / cover no-repeat;
}

.contact h4{
    font-size: 30px;
    font-family: 'Nanum Myeongjo', sans-serif;
    margin:10px;
    color: white;
}

.contact p{
    line-height: 1.5;
    margin:0;
    margin-right:6px;
    color: white;
}

.button{
    width: 100%;
    height: 80px;
    background-color: white;
    position: relative;
    box-shadow: 1px 1px 2px #CECECE;

}

.button p{
    font-size: 30px;
    font-family: 'Nanum Myeongjo', sans-serif;
    margin:0;
    display:inline;
    position: relative;
    top:30%;
    margin-left:20px;

}

.button div{
    width: 150px;
    height: 40px;
    background-color: #3C92CA;
    border-radius: 20px;
    text-align: center;
    display:inline-block;
    float: right;
    position: relative;
    top:25%;
    margin-right:20px;
}

.button span{
    position: relative;
    top:25%;
    color: white;
}

/********************
 * Footer
 ********************/

.footer{
    line-height: 1.5;
    height: 200px;
    background: #555555;
    color: white;
    padding-top:50px;
}

.footer p{
    margin-top: 5px;
}

.footer a{
    color: white;
}

.ansim{
    width: 100%;
    height: 552px;
    background: url(./image/rts-footer-bg.jpg) center / cover no-repeat;
}

.ansim-textArea{
    width: 1170px;
    height: 100%;
    margin:0 auto;
    /* padding-top:50px; */
}

.ansim-text{
    background-image: url(./image/rts-footer-text.png);
    background-position: 10px 20px;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-color: lightblue; */
    width: 100%;
    height: 70%;
}



/********************
 * Common
 ********************/

 body {
    font-size: 16px;
    font-family: 'NanumSquare', sans-serif;
    /* font-family: 'Nanum Myeongjo', sans-serif; */
    /* font-family: 'Nanum Myeongjo','NanumSquareR','Helvetica Neue',Helvetica,Arial,sans-serif; */
    background-color: #f4f4f4;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

div.row {
    position: relative;
}

/* div.col-md-12 {width: 100%;}
div.col-md-11 {width: 91%;}
div.col-md-10 {width: 83.4%;}
div.col-md-9 {width: 75.6%;}
div.col-md-8 {width: 66.72%;}
div.col-md-7 {width: 58.38%;}
div.col-md-6 {width: 50%;}
div.col-md-5 {width: 41.7%;}
div.col-md-4 {width: %;}
div.col-md-3 {width: %;}
div.col-md-2 {width: %;}
div.col-md-1 {width: %;} */

















